.logo {
    float: left;
}

.weather {
    float: left;
    margin-left: 20px;
}

.timer {
    float: left; 
    padding-left: 20px;
    padding-top: 5px; 
    font-size: 18px;
}

.swiper {
    width:90%; 
    height:86%; 
    margin:1.4% 5% 0;
}

.swiper_img_1 {  
    background:url(../img/show1.jpg);  
    background-size: 100% 100%; 
    background-repeat: no-repeat; 
    background-position: top center; 
    position: relative; 
    width:100%; 
    height:100%;
}

.swiper_img_2{
    background:url(../img/show2.jpg); 
    background-size: 100% 100%; 
    background-repeat: no-repeat; 
    background-position: top center; 
    position: relative; 
    width:100%; 
    height:100%;
}

.area {
    text-align: center;
    /* margin-top: 10px; */
    font-size: 14px;
}